:root {
  --color-primary: #233142;
  --color-secondary: #455d7a;
  --color-tertiary: #f95959;
  --color-quaternary: #e3e3e3;
  --font-small: 1.075rem;
  --font-small-med: 1.5rem;
  --font-med: 2rem;
  --font-large: 3rem;
  --padding-container-big: 2.5em 3em;
  --padding-container-small: 1.5em 1.5em;
  --box-shadow-1: 0px 25px 20px -20px rgba(0, 0, 0, 0.35), 25px 0 20px -20px rgba(0, 0, 0, 0.45);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--font-small);
  color: var(--color-primary);
  font-family: 'Playfair Display', serif;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  line-height: inherit;
  
}

h1 {
  font-size: var(--font-large);
}

h2 {
  font-size: var(--font-med);
}

h3 {
  font-size: var(--font-small-med);
}

a {
  text-decoration: none;
}

.wrapper {
  overflow-y: hidden;
}

.wrapper > * {
  padding: var(--padding-container-big);
}

.header {
  background-image: linear-gradient(45deg, var(--color-primary), var(--color-secondary) );
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: var(--box-shadow-1)
}

.header > *:not(:nth-child(2)) {
  box-shadow: var(--box-shadow-1);
}

.profile-picture {
  width: 100%;
  height: auto;
  max-width: 400px;
  z-index: 1;
}

.main-title {
  position: absolute;
  transform: translate(-83%, 10%);
  z-index: 2;
  color: var(--color-primary);
}

.about-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: .75rem;
  max-width: 600px;
  min-height: 350px;
  background-color: var(--color-quaternary);
  padding: 2em 1.5em;
  padding-bottom: 1em;
}

.about-container > h2 {
  border-bottom: 1px solid;
}

.about-container .icon-container {
  align-self: flex-end;
  margin-top: 16px;
}

.icon {
  color: var(--color-primary);
}

.secondary-title {
  margin-bottom: 1rem;
}

.projects-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, minmax(350px, 1fr));
  gap: 3rem;
}

.project {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  max-width: 700px;
}

.project-picture {
  width: 100%;
  height: auto;
}

.proj-description-container {
  padding: 1.25rem 1.35rem;
  min-height: 140px;
}

.project-title-and-icon {
  display: flex;
  justify-content: space-between;
}

.project-title-and-icon > .icon-container {
  transform: translateY(4px);
}

.project-description {
  margin-top: .5rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4em;
  background-image: linear-gradient(45deg, var(--color-secondary), var(--color-primary));
}

.left-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.left-container > * {
  color: white;
}

.left-container > .icon-container {
  margin-top: 1em;
}

.left-container > h2 {
  border-bottom: 1px solid;
}

.phone-number, .email {
  color: var(--color-quaternary);
}

a[href^="mailto"], a[href^="tel"] {
  color: var(--color-quaternary);
  text-decoration: none;
}

.icon-tabler-mail, .icon-tabler-phone {
  transform: translateY(7px);
  margin-right: 5px;
  fill: var(--color-quaternary);
}

.footer-icon {
  fill: var(--color-quaternary);
}

.footer-pic {
  box-shadow: var(--box-shadow-1);
}

@media (max-width: 1200px) {
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1125px) {
  .main-title {
    transform: translate(0%, 45%);
    font-size: 2.5em;
  }
}

@media (max-width: 768px) {
  .wrapper > * {
    padding: var(--padding-container-small);
  }

  .header > img {
    transform: translateY(6%);
  }

  .header {
    padding-top: 0px;
  }

  .main-title {
    font-size: 2.5rem;
  }
  
  .about-container .icon-container {
    align-self: center;
  }

  .secondary-title {
    margin-bottom: .5rem;
  }

  .projects-container {
    grid-template-columns: 1fr;
    gap: 2em;
  }

  .footer {
    gap: 2em;
    padding-bottom: 0;
  }

  .contact, .left-container > .icon-container, .about, .my-work {
    text-align: center;
  }

  .footer-pic {
    width: 100svw;
  }
}